.img-profile {
    border-radius: 25%;
    width: 150px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
  }
  
  @media only screen and (max-width: 600px) {
    .img-profile {
      max-width: 100px;
    }
  }

  body {
    overflow: hidden;
  }
  
  html {
    height: 100%;
    overflow-y: scroll;
  }
  

  
  